.StoryLink {
    align-items: center;
    justify-content: space-around;
    float: left;
    width: 25%;
    height: 100%;
    
    LINK {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        text-decoration: none;
        font-size: 1.05em;
    }

    .storyName {
        text-align: center;
        font-size: 0.9em;
        color: black;
        height: 20px;
        width: 100%;
    }
}
