@font-face {
  font-family: 'LeeSeoyun';
  src: url("globals/font/LeeSeoyun.ttf") format("truetype");
}

body {
  background-color: #FDF4EA;
  font-family: 'LeeSeoyun';
  max-width: 500px;
  margin: 0 auto;
  padding-bottom: 20px;
}